<p1>

@define node1 {}
@define node2 {}
@define node3 {}

messages = 25
nodes = [$(node1), $(node2), $(node3)]


<p2>

@define node1 {}
@define node2 {}
@define node3 {}
@define node4 {}

messages = 25
nodes = [$(node1), $(node2), $(node3), $(node4)]


<p3>

@define node1 {}
@define node2 {}
@define node3 {}

messages = 25
nodes = [$(node1), $(node2), $(node3)]


<p4>

@define node1 {}
@define node2 {}
@define node3 {}
@define node4 {}

messages = 25
nodes = [$(node1), $(node2), $(node3), $(node4)]
